.idea
.env
/bin/*
!bin/console
/vendor
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitignore
!var/logs/.gitignore
!var/sessions/.gitignore

# PHPUnit
/phpunit.xml
.phpunit.result.cache

# Embedded web-server pid file
/.web-server-pid
